@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@font-face {
  src: url(fonts/barcadenobarital.ttf);
  font-family: barca;
}

@font-face {
  font-family: bold;
  src: url(fonts/Roboto-Bold.ttf);
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto' , sans-serif;
}

body
{
  background: #ffff;
  min-height: 200vh;
  box-sizing: content-box;
}

/**************************
*    NAVBAR
**************************/

header
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.6s;
  padding: 40px 100px;
  z-index: 100000;
  background: black;
}

header.sticky
{
  padding: 5px 100px;
  background: rgb(0, 0, 0);
}

header > .logo
{
  position: relative;
  font-weight: 700;
  color:white;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.6s;
}

header ul
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li
{
  position: relative;
  list-style: none;
}

header ul li a 
{
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color:white;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}

.banner
{
  position: relative;
  width: 100%;
  height: 100vh;
}

header.sticky .logo,
header.sticky ul li a
{
  color: white;
}

/**************************
*    Button
**************************/

.buttons.hide {
  opacity: 0;
}

.buttons.sticky {
  top: 48px;
  position: fixed;
}

.buttons {
  width: 100%;
  position: absolute;
  left: 0;
  top: 118px;
  transition: all 0.6s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  z-index: 3;
  text-align: center;
}

.buttons.hide {
  opacity: 0;
}

.buttons.sticky {
  top: 48px;
  position: fixed;
}

.transparent_btn {
	display: inline-block;
	color: rgb(0, 0, 0);
	border: 1px solid rgb(0, 0, 0);
	text-decoration: none;
	font-size: 50px;
    font-family: barca;
	line-height: 100%;
	background-color: rgba(255, 255, 255, 0);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 0px;
	-webkit-transition: background-color 300ms ease;
	-moz-transition: background-color 300ms ease;
	transition: background-color 300ms ease;
	cursor: pointer;
  top: 0;
  width: 100%;
}

/**************************
*    carousel
**************************/

.home .carousel-item{
  top: 48px;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}

.home .carousel-control-next, 
.home .carousel-control-prev{
	height: 60px;
	width: 60px;
	opacity: 1;
	z-index: 3;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	transition: all 0.3s ease;
}
.home .carousel-control-next:hover, 
.home .carousel-control-prev:hover{
   box-shadow: 0 0 10px #ffffff;
}
.home .carousel-control-next img, 
.home .carousel-control-prev img{
   width: 30px;
}
.home .carousel-control-next{
	right: -90px;
}
.home .carousel-control-prev{
	left: -90px;
}

/*responsive*/
@media(max-width: 767px){
  .home .carousel-control-next, 
  .home .carousel-control-prev{
  	display: none;
  }
  .home .carousel-indicators li{
  	height: 60px;
  	width: 60px;
  }
  .home .carousel-item h2{
  	font-size: 45px;
  }
  .home .carousel-item p{
  	font-size: 22px;
  }
}

