@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@font-face {
  src: url(fonts/barcadenobarital.ttf);
  font-family: barca;
}

@font-face {
  font-family: bold;
  src: url(fonts/Roboto-Bold.ttf);
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto' , sans-serif;
}

body
{
  background: #ffff;
  min-height: 200vh;
  box-sizing: content-box;
}

/**************************
*    NAVBAR
**************************/

header
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.6s;
  padding: 40px 100px;
  z-index: 100000;
  background: black;
}

header.sticky
{
  padding: 5px 100px;
  background: rgb(0, 0, 0);
}

header > .logo img
{
  position: relative;
  transition: all 0.6s;
  width: 130px;
}

header ul
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li
{
  position: relative;
  list-style: none;
}

header ul li a 
{
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color:white;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
  font-family: barca;
  font-size: 30px;
}

header ul li a img{
  width: 30px;
}

.banner
{
  position: relative;
  width: 100%;
  height: 100vh;
}

header.sticky .logo,
header.sticky ul li a
{
  color: white;
}

/**************************
*    Button
**************************/

.buttons.hide {
  opacity: 0;
}

.buttons.sticky {
  top: 48px;
  position: fixed;
}

.buttons {
  width: 100%;
  position: absolute;
  left: 0;
  top: 132px;
  transition: all 0.6s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  z-index: 3;
  text-align: center;
  background-color: rgba(134, 128, 128);
}

.buttons.hide {
  opacity: 0;
}

.buttons.sticky {
  top: 60px;
  position: fixed;
}

.transparent_btn {
	display: inline-block;
	color: rgb(255, 255, 255);
	border: 1px solid rgb(0, 0, 0);
	text-decoration: none;
	font-size: 50px;
  font-family: barca;
	line-height: 100%;
	background-color: rgba(255, 255, 255, 0);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 0px;
	-webkit-transition: background-color 300ms ease;
	-moz-transition: background-color 300ms ease;
	transition: background-color 300ms ease;
	cursor: pointer;
  top: 0;
  width: 100%;
}

/**************************
*    carousel
**************************/

.home .carousel-item{
  top: 60px;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.home .carousel-item::before{
  content: '0';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: -1;
}

.home .carousel-item .container {
  background: rgba(134, 128, 128, 0.5);
  opacity: 1;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.home .carousel-item h1{
  font-size: 80px;
  color: white;
  font-family: barca;
  background-position: center;
}



/**************************
*    images
**************************/

.text h1 {
  margin-top: 80px;
  margin-left: 40px;
  font-size: 70px;
  font-family: barca;
  color: rgb(71, 71, 71);
  position: relative;
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  width: fit-content;
}

.container .box {
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 0 25px 40px rgba(0,0,0,.5);
  z-index: 1;
}

.container.Lorem .box img {
  width: 840px;
  top: 0;
  left: 0;
  height: 100%;
  margin-left: 0px;
}

.container.Lorem .box {
  clip-path: polygon(3% 0, 100% 0, 100% 90%, 3% 90%);
  z-index: 2;
}

.container .box:hover {
  transform: scale(1.02);
  box-shadow: 0 25px 40px rgba(0,0,0,.5);
}

.container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: flex-end;
}

.container .box .content h2 {
  color: white;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 110px;
  font-size: 80px;
  font-family: barca;
  background: rgba(134, 128, 128, 0.5);
  width: 100%;
  margin-left: 10px;
}

.container.Lorem .box .content h2 {
  margin-bottom: 70px;
  margin-left: -110px;
  font-size: 70px;
  text-align: center;
  width: 1030px;
}

.container.ipsum {
  top: 787px;
  left: 480px;
  position: absolute;
}

.container.ipsum .box {
  clip-path: polygon(48% 15%, 98% 15%, 98% 85%, 48% 85%);
}

.container.ipsum .box img {
  width: 550px;
  top: 0;
  left: 0;
  height: 100%;
  margin-left: 250px;
}

.container.ipsum .box .content h2 {
  margin-bottom: 70px;
  margin-left: 256px;
  font-size: 35px;
  text-align: center;
}

.container.dolor {
  top: 1011px;
  left: 480px;
  position: absolute;
}

.container.dolor .box {
  clip-path: polygon(48% 15%, 98% 15%, 98% 85%, 48% 85%);
}

.container.dolor .box img {
  width: 550px;
  top: 0;
  left: 0;
  height: 100%;
  margin-left: 250px;
}

.container.dolor .box .content h2 {
  margin-bottom: 50px;
  margin-left: 256px;
  font-size: 35px;
  text-align: center;
}

.container.wrapper {
  top: 1236px;
  left: -360px;
  position: absolute;
}

.container.wrapper .box {
  clip-path: polygon(48% 15%, 98% 15%, 98% 80%, 48% 80%);
}

.container.wrapper .box img {
  width: 550px;
  top: 0;
  left: 0;
  height: 100%;
  margin-left: 250px;
}

.container.wrapper .box .content h2 {
  margin-bottom: 50px;
  margin-left: 256px;
  font-size: 35px;
  text-align: center;
}

.container.naturis {
  top: 1238px;
  left: 58px;
  position: absolute;
}

.container.naturis .box {
  clip-path: polygon(48% 15%, 98% 15%, 98% 85%, 48% 85%);
}

.container.naturis .box img {
  width: 550px;
  top: 0;
  left: 0;
  height: 100%;
  margin-left: 250px;
}

.container.naturis .box .content h2 {
  margin-bottom: 50px;
  margin-left: 256px;
  font-size: 35px;
  text-align: center;
}

.container.sammy {
  top: 1238px;
  left: 480px;
  position: absolute;
}

.container.sammy .box {
  clip-path: polygon(48% 15%, 98% 15%, 98% 85%, 48% 85%);
}

.container.sammy .box img {
  width: 550px;
  top: 0;
  left: 0;
  height: 100%;
  margin-left: 250px;
}

.container.sammy .box .content h2 {
  margin-bottom: 50px;
  margin-left: 256px;
  font-size: 35px;
  text-align: center;
}


/**************************
*    images2
**************************/

.text2 h1 {
  margin-top: 280px;
  margin-left: 40px;
  font-size: 70px;
  font-family: barca;
  color: rgb(71, 71, 71);
  position: relative;
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  width: fit-content;
}

.container .box {
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 0 25px 40px rgba(0,0,0,.5);
  z-index: 1;
}

.container.Lorem2 .box img {
  width: 840px;
  top: 0;
  left: 0;
  height: 100%;
  margin-left: 424px;
}

.container.Lorem2 .box {
  clip-path: polygon(35% 0, 100% 0, 100% 90%, 35% 90%);
  z-index: 2;
}

.container .box:hover {
  transform: scale(1.02);
  box-shadow: 0 25px 40px rgba(0,0,0,.5);
}

.container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: flex-end;
}

.container .box .content h2 {
  color: white;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 110px;
  font-size: 80px;
  font-family: barca;
  background: rgba(134, 128, 128, 0.5);
  width: 100%;
  margin-left: 10px;
}

.container.Lorem2 .box .content h2 {
  margin-bottom: 70px;
  margin-left: 370px;
  font-size: 70px;
  text-align: center;
  width: 930px;
}

.container.ipsum2 {
  top: 1707px;
  left: -356px;
  position: absolute;
}

.container.ipsum2 .box {
  clip-path: polygon(48% 15%, 98% 15%, 98% 80%, 48% 80%);
}

.container.ipsum2 .box img {
  width: 550px;
  top: 0;
  left: 0;
  height: 100%;
  margin-left: 250px;
}

.container.ipsum2 .box .content h2 {
  margin-bottom: 70px;
  margin-left: 256px;
  font-size: 35px;
  text-align: center;
}

.container.dolor2 {
  top: 1973px;
  left: -356px;
  position: absolute;
}

.container.dolor2 .box {
  clip-path: polygon(48% 15%, 98% 15%, 98% 80%, 48% 80%);
}

.container.dolor2 .box img {
  width: 550px;
  top: 0;
  left: 0;
  height: 100%;
  margin-left: 250px;
}

.container.dolor2 .box .content h2 {
  margin-bottom: 70px;
  margin-left: 256px;
  font-size: 35px;
  text-align: center;
}

.container.wrapper2 {
  top: 2237px;
  left: -356px;
  position: absolute;
}

.container.wrapper2 .box {
  clip-path: polygon(48% 15%, 98% 15%, 98% 80%, 48% 80%);
}

.container.wrapper2 .box img {
  width: 550px;
  top: 0;
  left: 0;
  height: 100%;
  margin-left: 250px;
}

.container.wrapper2 .box .content h2 {
  margin-bottom: 70px;
  margin-left: 256px;
  font-size: 35px;
  text-align: center;
}

.container.naturis2 {
  top: 2237px;
  left: 58px;
  position: absolute;
}

.container.naturis2 .box {
  clip-path: polygon(48% 15%, 98% 15%, 98% 80%, 48% 80%);
}

.container.naturis2 .box img {
  width: 550px;
  top: 0;
  left: 0;
  height: 100%;
  margin-left: 250px;
}

.container.naturis2 .box .content h2 {
  margin-bottom: 70px;
  margin-left: 256px;
  font-size: 35px;
  text-align: center;
}

.container.sammy2 {
  top: 2237px;
  left: 480px;
  position: absolute;
}

.container.sammy2 .box {
  clip-path: polygon(48% 15%, 98% 15%, 98% 80%, 48% 80%);
}

.container.sammy2 .box img {
  width: 550px;
  top: 0;
  left: 0;
  height: 100%;
  margin-left: 250px;
}

.container.sammy2 .box .content h2 {
  margin-bottom: 70px;
  margin-left: 256px;
  font-size: 35px;
  text-align: center;
}


/*******************************
      footer/Rodape
******************************/
.footer-dark {
  padding:300px 0;
  color: rgb(255, 255, 255);
  background-color:#282d32;
  margin-top: 1500px;
  margin-bottom: 0px;
}

.footer-dark h3 {
  margin-top:20px;
  text-align: center;
  margin-bottom: 40px;
  font-weight:bold;
  font-size:40px;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:0px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0px;
}

